{% extends 'base.html' %}
{% block content %}
    <div id="intro" class="intro-container">
        <!-- <img src = "mainpage.jpg"> -->

        <!-- <button onclick="start()" id="submit" name="submit">시작해볼까</button> -->
    </div>
    <div class="wrap">
        <a href="{{ url_for('main.first') }}">
            <button class="button_main">가진 재료로 가능한 요리를 알려주세요</button></a>
        <p></p>
        <a href="second">
            <button class="button_main">만들고 싶은 요리에서, 부족한 재료를 알려주세요</button></a>
        <p></p>
        <a href="third">
            <button class="button_main">원하는 요리의 전체 레시피를 알고싶어요</button></a>
    </div>
        <!-- JavaScript 함수 정의 -->
        <script>

        </script>
{% endblock %}