{% extends 'base.html' %}
{% block content %}
    
    <div id="container" class="container">
        <h1></h1><p></p>
        <div class="text-box">
            <textarea id="comments" name="comments" rows="1" cols="50" placeholder=" 만들고 싶은 요리를 입력하세요"></textarea>
            <p></p>
            <textarea id="comments" name="comments" rows="4" cols="50" placeholder=" 현재 가지고 있는 재료를 입력하세요"></textarea>
        </div>
        <div class="wrap">
            <button class="button">필요한 재료를 알려줘</button>
            <p></p>
        </div>

        <!-- <button onclick="start()" id="submit" name="submit">시작해볼까</button> -->
    </div>
    
        <!-- JavaScript 함수 정의 -->
        <script>

        </script>

</body>
</html>
{% endblock %}