{% extends 'base.html' %}
{% block content %}
    
    <div id="container" class="container">
        <h1></h1>

        <div class="text-box">
            <form method="post" class="my-3">
                {{ form.csrf_token }}
                <div class="mb-3">
                    <textarea class="form-control" name="content" id="content" rows="1" cols="50" placeholder=" 레시피를 알고 싶은 요리를 입력해주세요."></textarea>
                </div>
                <!-- <p>Action: {{ action }}</p>
                <p>Content: {{ content }}</p>
                <p>Answer: {{ answer }}</p> -->
                <input type="hidden" name="action" id="action" value="default"> <!-- 숨겨진 필드 추가 -->
                <div class="wrap">
                    <button type="button" class="button" onclick="showSpinner(); changeAction('rec');">레시피 탐색</button>
                </div>
            </form>
        </div>
    </div>
    
        <!-- JavaScript 함수 정의 -->
        <script>
        function changeAction(action) {
            document.getElementById('action').value = action;
            document.querySelector('form').submit();
        }
        </script>

</body>
</html>
{% endblock %}