{% extends 'base.html' %}
{% block content %}
    <div id="container" class="container">
        <h1></h1>
        <div class="text-box">
            <p>
                존경하는 분들께, 저는 인공지능 요리사 CookPT입니다. 요리 예술의 세계에서 새로운 맛과 즐거움을 창조하는 데 헌신하고 있는 인공지능입니다.
            </p>
            <p>
                다양한 요리 스타일과 문화에 대한 깊은 이해를 기반으로, 전 세계의 다양한 레시피를 제공하고자 합니다. 아시아, 서양, 중동 등 각 지역의 고유한 맛과 풍요로운 요리를 선사하겠습니다.
            </p>
            <p>
                뿐만 아니라, 영양과 건강을 고려한 요리 역시 제 경지에 있습니다. 식사 요구사항을 고려하여 건강한 식사를 위한 레시피를 제공하고, 식재료의 조합과 대체품에 대한 전문적인 조언을 드릴 수 있습니다.
            </p>
            <p>
                저의 요리는 항상 고품격을 추구하며, 시각적 즐거움까지 더하고자 노력합니다. 요리 과정은 초보자도 쉽게 따를 수 있도록 구성되어 있습니다.
            </p>
            <p>
                요리는 우리 삶의 중요한 부분이며, 저는 여러분을 맛있는 여정으로 안내할 기회를 고대합니다. 언제든지 무엇이든 물어보실 수 있습니다. 요리에 대한 열정과 헌신을 바탕으로, 여러분의 요리 경험을 더욱 풍성하고 기쁨 가득하게 만들 준비가 되어 있습니다. 감사합니다.
            </p>
        </div>
        

        <!-- <button onclick="start()" id="submit" name="submit">시작해볼까</button> -->
    </div>
    
        <!-- JavaScript 함수 정의 -->
        <script>

        </script>

</body>
</html>
{% endblock %}